{% extends 'recursos/html/base.html' %}
{% load bootstrap %}

{% block title %}Deletar Fornecedor{% endblock %}

{% block content %}
<div class="container pt">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Página de Exclusão de Fornecedor</h5>

            <form method="post">
              <!-- Não se esqueça dessa tag -->
              {% csrf_token %}
              
              <p>Você tem certeza que quer excluir o fornecedor <code>{{ object.razao_social }}</code>?</p> 
            
              <button class="btn btn-danger">Deletar</button>
              <a class="btn btn-outline-info" href="{% url 'GDS:listar_fornecedor' %}">Cancelar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

