{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <a class="btn btn-warning page" href="?page=1">&laquo; Primeira Página</a>
            <a class="btn btn-outline-info page" href="?page={{ page_obj.previous_page_number }}">Página Anterior </a>
        {% endif %}

        <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }} </a></li>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info pag" href="?page={{ page_obj.next_page_number }}">Próxima Página</a>
            <a class="btn btn-warning pag" href="?page={{ page_obj.paginator.num_pages }}">Última Página &raquo;</a>
        {% endif %}
        </ul>
    </nav>
{% endif %}